<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Student Registry</a>
      </div>
      <ol class="nav navbar-nav">
        <li><a href="./addStudent">Add</a></li>
        <li><a href="./deleteStudent">Delete</a></li>
        <li><a href="./displayStudent">Display</a></li>
        <li><a href="./listStudents">List All</a></li>
        <li><a href="./updateStudent">Update</a></li>
        <li><a href="./">Home Page</a></li>
  
      </ol>
    </div>
  </nav>